/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$theatre_red: #811f1e;
$creme: #FCF7EF;
$gold : #FBD400;

body {
  background:$theatre_red url('/assets/background-scales.gif');
  color: $creme;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 1px 3px darken($theatre_red, 50%);
  }

p, ol, ul, td {
  line-height: 18px; }
  
ul {
  list-style-type: none;
  margin-left: -25px;
}

a {
  color: #FC0;
  &:visited {
    color: #FC0; }
  &:hover {
    color: yellow;
    } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }


#header {
  position: relative;
  left: 15px; top: 5px;
  }
h1 {
  display: inline;
  font-family: museo-slab, verdana, sans-serif;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -1px;
  }
h1#winner-title {font-style: normal;}
h2 {
  display: inline;
  padding-left: 25px;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 300;
}
#footer {
  display: block;
  font-family: museo-slab, verdana, sans-serif;
  font-weight: 700;
  font-size: 0.7em;
  font-style: normal;
  position: relative;
  left: 15px; top: 5px;
  margin-bottom: 50px;
  }

.winner-description p {padding-left: 20px; line-height: 1.75em;}
#winner-title {font-size: 1.5em; font-weight: bold;}
#winner > .info-area {  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -moz-box-shadow: 0 0 15px #000000;
  -webkit-box-shadow: 0 0 15px #000000;
  box-shadow: 0 0 15px #000000;
  background-color: darken($theatre_red, 25%);
  padding: 10px;
  margin: 20px;

  width: 500px;  
  height: 350px;
  }
#winner > .info-area > .description p {font-size:1.25em; line-height: 1.5em;}
#winner #winner-poster img {
  -moz-box-shadow: 0 0 10px lighten($theatre_red, 30%);
  -webkit-box-shadow: 0 0 10px lighten($theatre_red, 30%);
  box-shadow: 0 0 10px lighten($theatre_red, 30%);
  border: 5px solid $gold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 180px;
  margin: 5px 15px 5px 0px;
  float: left;
  }
#winner #winner-poster img:hover {
  -moz-box-shadow: 0 0 10px lighten($theatre_red, 50%);
  -webkit-box-shadow: 0 0 10px lighten($theatre_red, 50%);
  box-shadow: 0 0 10px lighten($theatre_red, 50%);
  border: 5px solid lighten($gold, 35%);
  }
  
.label {}
.info {}
.description {}
  
.imdb {position:relative; top:5px;}
  
#runners-up {
  font-size: 0.7em;
  }
#runners-up h1 {font-weight: 700; font-style: normal; font-size: 2em;}
#runners-up > .info-area {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -moz-box-shadow: 0 0 6px #000000;
  -webkit-box-shadow: 0 0 6px #000000;
  box-shadow: 0 0 6px #000000;
  width: 400px;
  height: 170px;
  background-color: darken($theatre_red, 20%);
  padding: 10px;
  margin: 20px;
  }
#runners-up #runners-up-poster img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 10px lighten($theatre_red, 30%);
  -webkit-box-shadow: 0 0 10px lighten($theatre_red, 30%);
  box-shadow: 0 0 10px lighten($theatre_red, 30%);
  border: 5px solid $gold;
  float: right;
  margin-left: 5px;
  width: 100px;
  clear: both;
  }
#runners-up #runners-up-poster img:hover {
  -moz-box-shadow: 0 0 10px lighten($theatre_red, 50%);
  -webkit-box-shadow: 0 0 10px lighten($theatre_red, 50%);
  box-shadow: 0 0 10px lighten($theatre_red, 50%);
  border: 5px solid lighten($gold, 35%);
  float: right;
  margin-left: 5px;
  width: 100px;
  clear: both;
  }