$theatre_red: #811f1e;
$creme: #FCF7EF;

body {
  background:$theatre_red url('/assets/background-scales.gif');
  color: $creme;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  }

p, ol, ul, td {
  line-height: 18px; }
  
ul {
  list-style-type: none;
  margin-left: -25px;
}

a {
  color: #FC0;
  &:visited {
    color: #FC0; }
  &:hover {
    color: yellow;
    } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }
